<mat-toolbar color="primary" class="fixed-toolbar mat-elevation-z1">
  <mat-toolbar-row fxLayout="row nowrap">
      <span fxFlex="20%"><a mat-button class="nav-brand" routerLink="dashboard"><mat-icon>account_balance</mat-icon><span class="app-logo">Kotizaka</span></a></span>
      <ul fxFlex="60%" fxLayout fxLayoutAlign="center center" fxFlexAlign="center" fxLayout fxLayoutGap="0px" fxHide.lt-md class="navigation-items">
          <li class="navigation-item" *ngFor="let menuItem of menuItems">
              <a mat-button [routerLink]="menuItem.link">
                <mat-icon>{{ menuItem.icon }}</mat-icon>
                {{ menuItem.text}}
              </a>
          </li>
      </ul>
      <span fxHide fxShow.lt-md fxFlex></span>
      <div fxFlex="20%" fxLayout fxLayoutAlign="flex-end" fxHide.lt-sm>
        <mat-slide-toggle fxFlexAlign="center" [checked]="isLightTheme" (change)="onThemeChanged($event)"><mat-icon class="toggle-icon">format_color_fill</mat-icon></mat-slide-toggle>
        <div *ngIf="isUserAuth" fxFlexAlign="stretch" class="user-management" fxLayout fxLayoutAlign="flex-end center" fxHide.lt-md>
          <mat-icon class="profile-picture">account_circle</mat-icon>
          <p>
            Username <br>
            <a class="signout-link" routerLink="signin">Sign out</a>
          </p>
        </div>
      </div>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        fxHide fxShow.lt-md
        fxLayoutAlign="flex-end">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="over" class="sidenav" fixedInViewport="true" fxHide.gt-sm
      position="end"
      [attr.role]="'navigation'"
      [mode]="'over'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <div *ngIf="isUserAuth" class="user-management-sidenav" fxLayout fxLayoutAlign="flex-start center">
      <mat-icon class="profile-picture">account_circle</mat-icon>
      <p>
        Username <br>
        <a class="signout-link" routerLink="signin">Sign out</a>
      </p>
    </div>
    <div *ngIf="!isUserAuth" fxLayout fxLayoutAlign="center center">
      <mat-icon class="no-logged-logo">account_balance</mat-icon>
    </div>
    <mat-nav-list>
        <mat-divider></mat-divider>
      <a mat-list-item *ngFor="let menuItem of menuItems" [routerLink]="menuItem.link">
        <mat-icon>{{ menuItem.icon }}</mat-icon>
        {{ menuItem.text}}
      </a>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxLayoutAlign="start center" mat-list-item fxHide.gt-xs>
        <mat-icon class="toggle-icon">format_color_fill</mat-icon>
        <small>Light theme</small>
        <span fxFlex></span>
        <mat-slide-toggle [checked]="isLightTheme" (change)="onThemeChanged($event)" fxFlexAlign="end" style="margin: 20px;"></mat-slide-toggle>
      </div>
      <mat-divider fxHide.gt-xs></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->
    <div class="sidenav-content">
        <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
