.sidenav-container {
  min-height: calc(100vh - 63px);
  @media (max-width: 720px)
  {
    min-height: calc(100vh - 55px);
  }
}

.sidenav {
  width: 200px;
  padding-bottom: 65px;
}

.sidenav .mat-toolbar {
  background: inherit;
}


.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-brand {
  font-weight: bold;
  font-size: 20px;
}

mat-icon {
  margin-right: 3px;
}

button .mat-icon { 
  height: auto; 
}

mat-sidenav-content {
  padding-top: 70px;
}

.fixed-toolbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 999;
}

//Align icon and text of Theme select in sidenav
.toggle-icon { 
  margin-left: 15px;
}

//App name font style
.app-logo {
  font-family: "Julius Sans One", Muli, sans-serif;
}