
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="over" class="sidenav" fixedInViewport="true" fxHide.gt-sm
      position="end"
      [attr.role]="'navigation'"
      [mode]="'side'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let menuItem of menuItems" [routerLink]="menuItem.link">
        <mat-icon>{{ menuItem.icon }}</mat-icon>
        {{ menuItem.text}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color="primary" class="cust-toolbar">
    <mat-toolbar-row fxLayout="row wrap">
      <span fxFlex><a mat-button class="nav-brand"><mat-icon>lock</mat-icon>Kotizaka</a></span>
      <ul fxFlex fxFlexAlign="center" fxLayout fxLayoutGap="0px" fxHide.lt-md class="navigation-items">
          <li class="navigation-item" *ngFor="let menuItem of menuItems">
              <a mat-button [routerLink]="menuItem.link">
                <mat-icon>{{ menuItem.icon }}</mat-icon>
                {{ menuItem.text}}
              </a>
          </li>
      </ul>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.lt-sm>
        <mat-slide-toggle><small>Light</small></mat-slide-toggle>
      </div>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        fxHide fxShow.lt-md
        fxLayoutAlign="flex-end">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
